html, body, #root {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.flip-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0px;
  background: #f2f2f2;
}
