html,
body,
#root {
  margin: 0;
  height: 100%;
}

body {
  overflow-x: hidden; /* evita corte lateral */
}

.flip-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;   /* centraliza corretamente */
  align-items: center;
  background: #f2f2f2;
}
